# Ignorar todos os arquivos
*

# Exceto estas pastas e arquivos
!.gitignore
!CONTRIBUTING.md
!LICENSE
!README.md
!Seed_PlusPlus_Software/
!Seed_PlusPlus_Software/** 
!Seed_PlusPlus_case/
!Seed_PlusPlus_case/** 
